config system global
    set hostname {{host.data['hostname']}}
end


{% for intf_name, intf in host.data['interfaces'].items() %}
config system interface
    edit {{ intf_name }}
        set ip {{ intf['ip']}} {{intf['mask']}}
        set allowaccess ping
        set alias {{ intf['description']}}
    next
end
{% endfor %}

config router ospf
    set router-id {{host.data['OSPF']['OSPF_RID']}}
config area
    edit {{host.data['OSPF']['OSPF_AREA']}}
    next
end
{% for network in host.data['OSPF']['ospf_networks'] %}
config network
    edit {{loop.index}}
        set prefix {{network['ip']}}{{network['wildcard']}}
        set area {{network['area']}}
    next
end
{% endfor %}
