hostname {{host.data['hostname']}}

{% for intf_name, intf in host.data['interfaces'].items() %}
interface {{ intf_name }}
no switchport
ip address {{intf['ip'] }} {{intf['mask']}}
ip ospf area {{host.data['OSPF']['OSPF_AREA']}}
description {{ intf['description']}}
{% endfor %}

router ospf {{host.data['OSPF']['OSPF_PROCESS']}}
router-id {{host.data['OSPF']['OSPF_RID']}}