config firewall policy
    edit 1
        set name "Allow-Traffic-To-Cisco"
        set srcintf "port2"
        set dstintf "port1"
        set srcaddr "all"
        set dstaddr "all"
        set action accept
        set schedule always
        set service ALL
        set nat enable
    next
end

config router static
    edit 1
        set device {{host.data['Default_Route']['interface']}}
    next
end
